@import "vars";
@import "fonts";
@import "global";


.header {
  background-color: $accent;

  .inner {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
}

.logo_link {
  margin-left: 8px;
}

.menu_header_btn {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 3px;
  background-color: #ffffff;
  border: none;

  &::after {
    position: absolute;
    content: "";
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background-color: $accent;
    top: 15px;
    left: 14px;
    box-shadow: 0 4px 0 0 $accent, 0 8px 0 0 $accent;
  }
}

/*slider part*/
.head {
  background-image: url(../img/slide.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 193px;

}

.top-slider {
  background: rgba(33, 33, 33, 0.5);

  &__item {
    color: #ffffff;
    text-align: center;
    min-height: 193px;
  }

  &__title {
    position: relative;
    font-family: "RobotoCondensed-Regular";
    line-height: 28px;
    font-size: 28px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 36px 0 28px;
    margin: 0 auto;
    max-width: 243px;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 8px;
      width: 61px;
      margin: 0 auto;
      background-color: $text-color;
    }

  }

  &__btn {
    display: none;
    width: 200px;
    height: 50px;
    background-color: $accent;
    border: none;
    padding: 16px 45px;
    border-radius: 3px;
    color: $bg-color;
    font-size: 18px;
    line-height: 18px;
    margin: 0 auto 113px;

  }

  &__text {
    display: none;
  }
}

.custom-dot {
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 40px;
  left: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: $accent;
  padding: 0;
  margin: 0 10px;
}

.slick-active .custom-dot {
  border: 1px solid #476E4D;
  background: transparent;
}

.custom-arrow {
  width: 56px;
  height: 56px;
  position: absolute;
  border: none;
  right: 0;
  z-index: 1;

  &.prev {
    cursor: pointer;
    background-color: $accent;
    top: calc(50% - 56px);

    img {
      transform: rotate(180deg);
    }
  }

  &.next {
    cursor: pointer;
    background-color: $bg-color;
    bottom: calc(50% - 56px);


  }
}

/*part Call component*/
.call {
  background-color: $accent;
  padding: 40px 0;
  color: #ffffff;
  text-align: center;

  &__title {
    @extend %roboto-500;
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 15px;
  }

  &__text {
    margin-bottom: 40px;
    font-weight: 300;
    font-size: 18px;
    line-height: 20px;

  }

  &__btn {
    padding: 16px 15px;
    background-color: $bg-color;
    color: $accent;
    @extend %roboto-500;
    font-size: 18px;
    border-radius: 3px;
    border: none;
    text-transform: uppercase;


  }
}

/*services part*/
.services {
  padding: 25px 0 40px;
  text-align: center;

  &__title {
    margin-bottom: 47px;
    color: $accent;
  }

  &__desc {
    font-size: 20px;
    line-height: 24px;
    color: $text-color;
    margin-bottom: 21px;
  }

  &__text {
    font-size: 15px;
    line-height: 17px;
    color: #797979;
    margin-bottom: 40px;
  }

  &__item {
    min-height: 310px;
    border: 1px solid $bg-color;
    border-bottom: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 18px ;
    &:last-child {
      border-bottom: 1px solid $bg-color;
    }

    &:hover {
      .services__item-text,
      .services__item-link {
        display: block;
      }

      .services__item-title {
        margin-bottom: 30px;
      }

      .services__item-inner {
        border: 4px solid $accent;
        margin: 18px 0;
        padding: 25px 20px 5px;
        min-height: 277px;

      }
      .services__item-img {
        margin-bottom: 14px;

      }

    }

  }
  &__item-title {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2px;
    color: $text-color;
    @extend %robotoCondensed-700;

  }
  &__item-img {
    margin-bottom: 30px;

  }

  &__item-text {
    display: none;
    margin-bottom: 17px;

  }

  &__item-link {
    display: none;
    letter-spacing: 2px;
    color: $accent;
    @extend %robotoCondensed-700;
    text-transform: uppercase;
  }
}


@import "tablet-640";
@import "tablet-768";
@import "tablet-1024";
@import "tablet-1440";


