@import "vars";
@import "fonts";
@import "tablet-640";
@import "tablet-768";
@import "tablet-1024";
@import "tablet-1440";

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  overflow-x: hidden;
  font-family: "Roboto-Regular", "Arial", "sans-serif";
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.container {
  padding: 0 20px;
}


.header {
  background-color: $accent;

  .inner {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
}

.logo_link {
  margin-left: 8px;
}

.menu_header_btn {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 3px;
  background-color: #ffffff;
  border: none;

  &::after {
    position: absolute;
    content: "";
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background-color: $accent;
    top: 15px;
    left: 14px;
    box-shadow: 0 4px 0 0 $accent, 0 8px 0 0 $accent;
  }
}

/*slider part*/
.head {
  background-image: url(../img/slide.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 193px;

}

.top-slider {
  background: rgba(33, 33, 33, 0.5);

  &__item {
    color: #ffffff;
    text-align: center;
    min-height: 193px;
  }

  &__title {
    position: relative;
    font-family: "RobotoCondensed-Regular";
    line-height: 28px;
    font-size: 28px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 36px 0 28px;
    margin: 0 auto;
    max-width: 243px;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 8px;
      width: 61px;
      margin: 0 auto;
      background-color: $text-color;
    }

  }

  &__btn {
    display: none;
    width: 200px;
    height: 50px;
    background-color: $accent;
    border: none;
    padding: 16px 45px;
    border-radius: 3px;
    color: $bg-color;
    font-size: 18px;
    line-height: 18px;
    margin: 0 auto 113px;
  }
}

.custom-dot {
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 40px;
  left: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: $accent;
  padding: 0;
  margin: 0 10px;
}

.slick-active .custom-dot {
  border: 1px solid #476E4D;
  background: transparent;
}

.custom-arrow {
  width: 56px;
  height: 56px;
  position: absolute;
  border: none;
  right: 0;
  z-index: 1;

  &.prev {
    background-color: $accent;
    top:calc(50% - 56px);
    img{
      transform: rotate(180deg);
    }
  }
  &.next {
    background-color: $bg-color;
    bottom:calc(50% - 56px);


  }
}






