@import "vars";

@media (min-width: 640px) {
  .header {
    .container {
      padding: 0 30px;
    }

    .logo_link {
      margin-left: 14px;
    }

    .inner {
      min-height: 100px;
    }
  }
  .head {
    min-height: 386px;

    .top-slider {
      &__item {
        min-width: 386px;
      }

      &__title {
        font-size: 60px;
        line-height: 60px;
        padding: 50px 0 15px;
        margin: 0 auto 30px;
        max-width: 520px;
      }

      &__btn {
        display: block;
        font-weight: 500;
      }

      .custom-dot {
        bottom: 50px;
      }
    }
  }

}





